<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h2>Listing Article <small><%=@articles.count%></small></h2>
    </div>
    <div class="articlelist">
    <%@articles.each do |article|%>
      <div>
        <div class="page-header">
          <h4><%= link_to article.title, article%></h4>
          
          <div class="col-md-4">
            <i class="glyphicon glyphicon-user"></i> <%=article.user.email%>
          </div>

          <div class="col-md-4">
            <i class="glyphicon glyphicon-tags"></i> <%=article.categories.pluck(:name).join(",")%>   
          </div>
   
          <div class="col-md-4">
            <i class="glyphicon glyphicon-time"></i> <%=article.published_date.strftime('%d %B %Y')%>
          </div>
          <br>
        </div>
       <img src="http://via.placeholder.com/800x300" class="img-responsive" alt="Responsive image">    
        <p><%= article.body.truncate(200) %></p>
        <%= link_to article,class: "btn btn-primary pull-right" do %>
          <i class="glyphicon glyphicon-share-alt"></i>Read more
        <%end%>
      </div> 
    <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="page-header">
      <h2>Categories</h2>  
    </div>
    <ul class="list-group" >
      <% Category.all.each do |category| %>
        <li class="list-group-item" >
          <span class="badge" ><%= category.articles.length %></span>
          <%= link_to category.name, category %>
        </li>
      <%end%>
    </ul>
  </div>
</div>

<%if can? :create,Article.new%>
<%= link_to 'New Article', new_article_path %>
<%end%>

<script type="text/template" id="articleTemplate">
  {{#articles}}
   <div>
          <div class="page-header">
            <h4><a href="/articles/{{id}}">{{title}}</a></h4>
            <div class="col-md-4">
               <i class="glyphicon glyphicon-user"></i> 
               {{author}}
            </div>
            <div class="col-md-4">
              <i class="glyphicon glyphicon-tags"></i> {{categories}}
            </div>
             <div class="col-md-4">
                <i class="glyphicon glyphicon-time"></i> {{formatted_date}}
            </div>
              <br>
           </div>  
           <img src="http://via.placeholder.com/800x300" class="img-responsive" alt="Responsive image">

           <p>{{truncated_body}}</p>
          <a class="btn btn-info pull-right" href="/articles/{{id}}">
            <i class="glyphicon glyphicon-share-alt"></i> Read More
          </a> 
    </div> 
  {{/articles}}
</script>

<script type="text/javascript">
var offset = 3;
var template = $('#articleTemplate').html();

  $(window).on('scroll', function(){
    console.log("scroll");
    if($(window).scrollTop() > $(document).height() - $(window).height() - 200){
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/api/v1/articles?offset=' + offset, false);
      xhr.onreadystatechange = function(){
      if(xhr.readyState === 4 && xhr.status === 200){
        var articles = JSON.parse(xhr.responseText);
        var newHtml = Mustache.to_html(template, articles);
          console.log(newHtml);
          $('#articleList').append(newHtml);
         //output += "<div><div class= 'page-header'>" + article.title + "<div class='col-md-4'><i class='glyphicon glyphicon-user'></i>" +article.email+ "</div></div></div>"; 
           offset += 3
        }
      
      }
      xhr.send();
    }
  });
</script>





